@import url(https://fonts.googleapis.com/css?family=Lato);

$fonts: 'Lato', Helvetica;
$black: #000000;
$white: #ffffff;
$gray:  #666666;
$red: #990000;

body {
  font-family: $fonts;
  color: $black;
}

#header{
  postion:absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100vw;
}

#main {
  position: absolute;
  width: 100vw;
  top: 0;
}

#main-content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#img-container{
  position:relative;
}

#current{
  margin: auto;
  font-size: xx-large;
}

#overlay{
  top: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 9000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content{
  background-color: white;
  padding: 1em;
  margin: 2em;
  border-radius: 0.5em;
  h2 {
    margin-top: 0;
  }
}

.current-container{
  position: absolute;
  color: $white;
  background-color: black;
  margin-top: 48.5%;
  margin-left: 22.5%;
  width: 42%;
  height: 16%;
  text-align: center;
}

.centering-grid{
  display: grid;
  height: 100%;
}

.hidden {
  display: none !important;
}

.inline{
  display: inline;
}

.center-text{
  text-align: center;
}

.error-message{
  max-width: fit-content;
  color: $red;
}
