<!DOCTYPE html>
<html>
<head>
  <title>Counter</title>
  <meta charset="utf-8">
  <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
  <script src="js/counter.js"></script>
  <script src="js/helpers.js"></script>
  <style type="text/css">
  	<%= SassC::Engine.new(File.read('public/style/style.scss'), style: :compressed).render %>
  </style>
</head>
</head>
<body>
<div data-controller="counter">
  <div id='header'><h1>COUNTER!</h1></div>
  <div id='main'>
    <div>
      <div id=img-container>
        <div class='current-container'>
          <div class='centering-grid'><span id="current">000000</span></div>
        </div>
        <img src="assets/counter.jpeg">
      </div>
      <div class='center-text'>
        <form
          class='inline'
          method='put'
          action="/v1/next"
          data-target="counter.loginForm"
          data-remote="true"
          data-controller='counter'
          data-action="submit->counter#setCurrent"
        >
          <input
          id="current-input"
          name="current"
          value="<%= @user.try(:counter) %>"
          style="width:40px"
          type="text"
          >
          <input type="submit" value="Set current">
        </form> 
        <button data-action='click->counter#getNext'>Next</button>
      </div>
      <a id='get-current' href="#" class='hidden' data-action='click->counter#getCurrent'>getcurrent</a>
    </div>
  </div>
    <div id='register'>
      <br>
      <form
        method='post'
        action="/register"
        data-target="counter.registerForm"
        data-remote="true"
        data-controller='counter'
        data-action="submit->counter#register"
      >
        <label for="email">Email:</label><br>
        <input type="text" id="register-email" name="email" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="register-password" name="password" required><br>
        <input type="submit" value="Register">
        <a href='#' data-action="click->counter#showLogin">Login</a>
      </form> 
    </div>
    <div class='hidden' id='login'>
      <br>
      <form
        method='post'
        action="/login"
        data-target="counter.loginForm"
        data-remote="true"
        data-controller='counter'
        data-action="submit->counter#login"
      >
        <label for="email">Email:</label><br>
        <input type="text" id="login-email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="login-password" name="password"><br>
        <input type="submit" value="Login">
        <a href='#' data-action="click->counter#showRegister">Register</a>
      </form> 
    </div>
  <!-- TEMPLATES -->
  <div id=overlay>
  	<div class='overlay-content'></div>
  </div>
  <script type="text/javascript">
  	window.addEventListener('load', function () {
      document.helpers = Helpers
    })
  </script>
</div>
</body>
</html>