<!DOCTYPE html>
<html>
<head>
  <title>Counter</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
  <script src="application.js"></script>
</head>
</head>
<body>
  <div data-controller="counter">
	  <div>Counter</div>
	  <br><br>
	  <div id='register'>
	    <br>
	    <form
	      method='post'
	      action="/register"
	      data-target="counter.registerForm"
	      data-remote="true"
	      data-controller='counter'
	      data-action="submit->counter#register"
	    >
	      <label for="email">Email:</label><br>
	      <input type="text" id="email" name="email" required><br>
	      <label for="password">Password:</label><br>
	      <input type="text" id="password" name="password" required><br>
	      <input type="submit" value="Register">
	      <a href='#' data-action="click->counter#showLogin">Login</a>
	    </form> 
	  </div>
	  <div class='hidden' id='login'>
	    <br>
	    <form
	      method='post'
	      action="/login"
	      data-target="counter.loginForm"
	      data-remote="true"
	      data-controller='counter'
	      data-action="submit->counter#login"
	    >
	      <label for="email">Email:</label><br>
	      <input type="text" id="email" name="fname"><br>
	      <label for="password">Password:</label><br>
	      <input type="text" id="password" name="password"><br>
	      <input type="submit" value="Login">
	      <a href='#' data-action="click->counter#showRegister">Register</a>
	    </form> 
	  </div>
	  <div id=counter>
	    <span>current:</span>
	    <span id="current-span"><%= @user.try(:counter) %></span>
	    <form
	      method='put'
	      action="/v1/next"
	      data-target="counter.loginForm"
	      data-remote="true"
	      data-controller='counter'
	      data-action="submit->counter#login"
	    >
	      <input type="text" id="current" name="current" value="<%= @user.try(:counter) %>">
	      <input type="submit" value="Set current">
	    </form> 
	    <button>Next</button>
	  </div>
  </div>
</body>
</html>